*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    user-select: none;
    scroll-behavior: smooth;
}
input::placeholder{
    color: hsla(0, 0%, 100%, 0.50);
}
html{
    background-color: #140000;
}
.page-container{
    display: block;
    unicode-bidi: isolate;
}
.page-container-2{
    min-height: 100vh;
    width: auto;
    align-items: center;
    background-color: #140000;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0px;
    position: relative;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: flex-start;
}
h1{
    text-transform: capitalize;
    text-decoration: none;
    font-size: 32px;
    font-style: normal;
    line-height: 1.5em;
    font-weight: 600;
    letter-spacing: -.2px;
    color: white;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


/* section2 container */
.section-2-background{
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 60px;
    position: relative;
    width: 100%;
}
.section-2-up{
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 60px 60px 20px;
    position: relative;
    width: 100%;
}
.provide-container{
    align-items: flex-start;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
    height: min-content;
    justify-content: center;
    max-width: 1000px;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 1px;
}
.suhu{
        align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.title{
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    flex: none;
    height: auto;
    overflow: visible;
    position: relative;
    /* white-space: pre-wrap;÷ */
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}
.title p, .number-down p, .supporting-text p, .service-supporting-text p, .demo-supporting-text p{
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6em;
    text-align: left;
    word-break: break-word;
    word-wrap: break-word;
    letter-spacing: -.01em;
    color: rgba(255, 255, 255, 0.5);
}
.section-2-down{
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 60px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 20px 60px 60px;
    position: relative;
    width: 100%;
}
.section-2-down-content-container{
    display: grid;
    flex: none;
    gap: 60px;
    grid-auto-rows: minmax(0, 1fr);
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    height: min-content;
    justify-content: center;
    max-width: 1000px;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}
.section-2-down-content-container .item{
    align-items: flex-start;
    align-self: start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    height: 100%;
    justify-content: flex-start;
    justify-self: start;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.item .number, .number-down{
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}
.number p{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.5em;
    text-align: left;
    color: rgb(255, 255, 255);
}



/* Navigation Bar */
.nav-container{
    flex: none;
    height: auto;
    max-width: 1200px;
    position: sticky;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(20, 0, 0, 0.6);
    z-index: 1;
}
nav{
    max-width: 100%;
    width: 100%;
    opacity: 1;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80px;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 80px;
    position: relative;
}
.elements{
    max-width: 100%;
    width: 100%;
    opacity: 1;
    /* align-items: center; */
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: start;
    overflow: hidden;
    padding: 0px 20px 20px 20px;
    position: relative;
    gap: 20px;
}
.links li{
    height: 48px;
    display: flex;
    align-items: center;
}
.links li a{
    font-size: 32px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}
.links li a:active{
    color: red;
}

.left{
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    padding: 10px 0 10px 10px;
    position: relative;
    width: 115px;
}
a:-webkit-any-link {
    cursor: pointer;
    text-decoration: underline;
}
.logolink{
    aspect-ratio: 1 / 1;
    flex: none;
    height: var(auto, 36px);
    overflow: visible;
    position: relative;
    text-decoration: none;
    width: 36px;
}
.tylerlogo{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover;
}
.middle{
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 1px;
}
.content-middle{
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 28px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 12px 28px;
    position: relative;
    width: min-content;
}
.con{
    flex: none;
    height: auto;
    position: relative;
    user-select: none;
    white-space: pre;
    width: auto;
    flex-shrink: 0;
    display: flex;
}
.con p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 2em;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: color .4s cubic-bezier(.44,0,.56,1) 0s;
}

.con p a{
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
    transition: color .4s cubic-bezier(.44,0,.56,1) 0s;
}
.con p a:hover{
    color: var(--extracted-r6o4lv, rgb(255, 0, 0));
    text-decoration: none;
}
.con p a:active{
    color: #5fdc00;
}


nav a{
    text-decoration: none;
    word-break: keep-all;
}
.contact-us-button{
    height: 40px;
    padding: 0 15px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #ff0000;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.contact-us-button:hover{
    background-color: hsla(0, 100%, 50%, 0.69);
}
.contact-us-button p{
    color: white;
    width: auto;
    font-weight: 500;
    font-size: 16px;
}





/* Header container */
.header-container{
        align-items: center;
    display: flex
;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 60px;
    position: relative;
    width: 100%;
}
.contain{
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: center;
    max-width: 1000px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1px;
}
.title-container{
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 600px;
    justify-content: center;
    overflow: hidden;
    padding: 0 100px;
    position: relative;
    width: 100%;
}
.header-contents{
        align-items: center;
    display: flex
;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    height: min-content;
    justify-content: center;
    max-width: 2018px;
    padding: 0;
    position: relative;
    width: 1px;
}
.up-header-contents{
    align-items: center;
    display: flex
;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.h1-container{
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    flex: none;
    height: auto;
    overflow: visible;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}
.h1-container h1{
    text-align: center;
}

.supporting-h1-text{
    flex: none;
    height: min-content;
    overflow: visible;
    position: relative;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}
.supporting-h1-text p{
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5em;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    letter-spacing: -.02em;
    color: rgba(255, 255, 255, .5);
}

.image-container{
    align-items: center;
    border-radius: 20px;
    display: flex
;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    will-change: var(none, transform);
}
.geibber{
        will-change: transform;
    opacity: 1;
    transform: scale(1.06225);
        align-items: center;
    aspect-ratio: 1.6666666666666667 / 1;
    border-radius: 20px;
    display: flex
;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    height: var(auto, 600px);
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1px;
}
.crbur{
    position: absolute;
    inset: 0px;
    border-radius: inherit;
}
.crbur img{
        display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover;
    aspect-ratio: auto 5184 / 3888;
}






/* section 3 */
.section-3-background{
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 60px;
    position: relative;
    width: 100%;
}
.section-3-container{
    align-items: flex-start;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    height: min-content;
    justify-content: center;
    max-width: 1000px;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 1px;
}
.section-3-up{
    border: 1px solid rgba(255, 0, 0, .25);
    align-content: flex-start;
    align-items: flex-start;
    background-color: #290000;
    border-radius: 16px;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px 16px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 16px;
    position: relative;
    width: 100%;
}
.section-3-up-content-container{
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
    height: min-content;
    justify-content: flex-start;
    padding: 0;
    position: relative;
    width: 1px;
}
.section-3-up-tab-title{
    align-items: center;
    background-color: #ff00001a;
    border-radius: 8px;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    padding: 8px 16px;
    position: relative;
    width: 100%;
    will-change: var(none, transform);
}
.frfrfr{
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-shrink: 0;
    transform: none;
}
.frfrfr p{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: left;
    color: rgb(255, 0, 0);
}

.section-3-down-tab-title{
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    flex: none;
    height: auto;
    overflow: visible;
    position: relative;
    /* white-space: pre-wrap; */
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}
.section-3-down-tab-title p{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 1.5em;
    text-align: left;
    color: rgb(255, 255, 255);
}


/* section 4 */
.sectin-4-background{
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 60px;
    position: relative;
    width: 100%;
}
.section-4-container{
        align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 80px;
    height: min-content;
    justify-content: center;
    max-width: 1000px;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}
.title-supporting-text-container, .supporting-text{
    align-items: flex-start;
    display: flex
;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
    height: min-content;
    justify-content: center;
    max-width: 100%;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}
.title-h1{
    flex: none;
    height: auto;
    overflow: visible;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}
.services-contain{
    will-change: transform;
    opacity: 1;
    transform: none;
    align-content: center;
    align-items: center;
    display: flex
;
    flex: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px 40px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}
.img-services-container{
    align-items: center;
    aspect-ratio: 1.2 / 1;
    border-radius: 20px;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    height: var(auto, 400px);
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1px;
    will-change: var(none, transform);
}
.img-services-container-2{
    position: absolute;
    border-radius: inherit;
    inset: 0px;
}
.img-services-container-2 img{
        display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover;
}
.service-text-info-container{
    align-items: flex-start;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
    height: min-content;
    justify-content: center;
    padding: 0;
    position: relative;
    width: 1px;
}
.service-text-info-container .service-title{
        flex: none;
    height: auto;
    overflow: visible;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
        outline: none;
    display: flex
;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}
.service-supporting-text{
        outline: none;
    display: flex
;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
        flex: none;
    height: auto;
    overflow: visible;
    position: relative;
    /* white-space: pre-wrap; */
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}
.framer-16o4ql {
    will-change: transform;
    opacity: 1;
    transform: none;
}
.framer-16o4ql {
    border: 1px solid rgb(255, 0, 0, .1);
    align-content: center;
    align-items: center;
    background-color: #29000040;
    border-radius: 16px;
    display: flex
;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    height: min-content;
    justify-content: center;
    max-width: 1000px;
    padding: 20px;
    position: relative;
    width: 100%;
}
.framer-brtuyy{
    align-content: center;
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 24px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1px;
}
.framer-6dut6y,  .framer-12s6sv2,  .framer-m9qigk,  .framer-1aik13l,  .framer-bhf7y5 {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.framer-kc3rky {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}
.framer-1ktozih{
    width: 100%;
}
.framer-cf1wds, .framer-w2cutd, .framer-5dwe0y, .framer-qpuj21, .framer-ys3rjn, .framer-zyq8fx, .framer-mxis8h, .framer-27s2lv, .framer-19ktj67, .framer-kc3rky, .framer-19m5ab4, .framer-1vvipmd, .framer-1gqpklf, .framer-1trznjm, .framer-91lie3, .framer-1fmwe4z, .framer-p4fato, .framer-1n7t24z {
    flex: none;
    height: auto;
    overflow: visible;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}
.framer-19ktj67{
    outline: none;
    display: flex
;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}
.framer-cf1wds, .framer-w2cutd, .framer-5dwe0y, .framer-qpuj21, .framer-ys3rjn, .framer-zyq8fx, .framer-mxis8h, .framer-27s2lv,  .framer-19ktj67, .framer-kc3rky,  .framer-19m5ab4,  .framer-1vvipmd,  .framer-1gqpklf,  .framer-1trznjm,  .framer-91lie3,  .framer-1fmwe4z,  .framer-p4fato,  .framer-1n7t24z {
    --framer-paragraph-spacing: 0px;
    flex: none;
    height: auto;
    overflow: visible;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}
.framer-19ktj67 p{
    font-size: 20px;
    letter-spacing: -0.2px;
    line-height: 1.5em;
    text-align: left;
    color: rgb(255, 255, 255);
    font-weight: 300;
}
.framer-kc3rky p {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -.02em;
    line-height: 1.6em;
    margin-bottom: 20px;
    text-align: start;
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
    text-transform: none;
}
.framer-kc3rky p:last-child{
    margin-bottom: 0;
}


/* section 5 */
.section-5-background{
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 60px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 60px;
    position: relative;
    width: 100%;
}
.section-5-container{
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 32px;
    height: min-content;
    justify-content: center;
    max-width: 1000px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.provide-container{
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    height: min-content;
    justify-content: center;
    padding: 0;
    position: relative;
    width: 100%;
}
.grid-steps{
    display: grid;
    flex: none;
    gap: 32px 32px;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    grid-template-rows: repeat(2, min-content);
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.grid-steps .grid{
    will-change: transform;
    opacity: 1;
    transform: none;
    align-content: center;
    align-items: center;
    align-self: start;
    background-color: #141414;
    border-radius: 20px;
    box-shadow: 0 .7961918735236395px 2.3885756205709185px -.625px #0000000d, 0 2.414506143104518px 7.2435184293135535px -1.25px #0000000d, 0 6.382653521484461px 19.147960564453385px -1.875px #0000000d, 0 20px 60px -2.5px #0000000d;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: 100%;
    justify-content: center;
    justify-self: start;
    min-width: 100px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.grid-steps .grid-image{
    aspect-ratio: 1.3333333333333333 / 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex: none;
    height: var(auto, 363px);
    overflow: hidden;
    position: relative;
    width: 100%;
    will-change: var(none, transform);
}
.grid-image img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover;
    aspect-ratio: auto 2000 / 3008;
}
.content-grid-container{
    align-items: flex-start;
    background-color: #29000040;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    height: min-content;
    justify-content: center;
    padding: 30px;
    position: relative;
    width: 100%;
}
.title-grid{
    flex: none;
    height: auto;
    overflow: visible;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}
.title-grid h3{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 1.4em;
    text-align: left;
    color: rgb(255, 255, 255);
}
.supporting-text-grid{
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    flex: none;
    height: auto;
    overflow: visible;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}
.supporting-text-grid p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.02em;
    line-height: 1.6em;
    /* paragraph-spacing: 20px; */
    text-align: start;
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
    text-transform: none;
}

/* section 6 */
.section-6-background{
        align-items: center;
    display: flex
;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 60px;
    position: relative;
    width: 100%;
}
.section-6-container{
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 100px;
    height: min-content;
    justify-content: center;
    max-width: 1000px;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}
.eddd{
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    height: min-content;
    justify-content: center;
    padding: 0;
    position: relative;
    width: 100%;
}
.gghhhh{
        align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 80px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}
.section-6-img{
    align-items: center;
    aspect-ratio: 2 / 1;
    border-radius: 20px;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: var(auto, 500px);
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    will-change: var(none, transform);
}
.scalee{
    align-items: center;
    border-radius: 20px;
    display: flex
;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1px;
    will-change: var(none, transform);
}
.abs, .abs2{
    position: absolute;
    border-radius: inherit;
    inset: 0px;
}
.abs img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover;
    aspect-ratio: auto 3936 / 2624;
}
.cert{
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    flex: none;
    height: auto;
    overflow: visible;
    position: relative;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}
.cert h2{
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
    line-height: 1.5em;
    text-align: left;
    color: rgb(255, 255, 255);
}
.cert-image{
    flex: none;
    height: 80px;
    overflow: hidden;
    position: relative;
    width: 341px;
}
.cert-image img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center center;
    object-fit: contain;
    aspect-ratio: auto 793 / 181;
}




/* section 8 */
.section-8-background{
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 60px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 60px;
    position: relative;
    width: 100%;
}
.section-8-container{
    align-content: center;
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 32px;
    height: min-content;
    justify-content: center;
    max-width: 1000px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1px;
}
.sub-title{
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.sub-title h1{
    text-align: center;
}
.supporting-text-sub{
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    flex: none;
    height: auto;
    overflow: visible;
    position: relative;
    /* white-space: pre-wrap; */
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}
.supporting-text-sub p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.02em;
    line-height: 1.6em;
    /* margin-bottom: 20px; */
    text-align: center;
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
    text-transform: none;
}
.mmvn{
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: center;
    max-width: 400px;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}
.tyla{
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}
form{
    margin-top: 0em;
    unicode-bidi: isolate;
}
.input-container{
    /* background-color: white; */
    width: 100%;
    height: 40px;
}
.input-container input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    padding: 12px;
    background-color: #290000;
    outline: none;
    font-size: 14px;
    color: white;
    line-height: 1.2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #290000;
    transition: color .4s cubic-bezier(.44,0,.56,1) 0s;
}
.input-container input:focus{
    border: 1px solid #ff0000;
}
.submit-btn-container{
    /* background-color: green; */
    width: 100%;
    height: 40px;
}
.submit-btn-container button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(34, 34, 34);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0.706592px 0.706592px -0.625px, rgba(0, 0, 0, 0.14) 0px 1.80656px 1.80656px -1.25px, rgba(0, 0, 0, 0.14) 0px 3.62176px 3.62176px -1.875px, rgba(0, 0, 0, 0.13) 0px 6.8656px 6.8656px -2.5px, rgba(0, 0, 0, 0.1) 0px 13.6468px 13.6468px -3.125px, rgba(0, 0, 0, 0.05) 0px 30px 30px -3.75px;
    cursor: pointer;
    border-width: 0px;
    color: white;
    font-weight: 500;
    font-size: 14px;
}







/* footer section */
.section-9-background{
    flex: none;
    height: auto;
    position: relative;
    width: 100%;
}
footer{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0 60px;
    position: relative;
}
.up-footer-section{
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: space-between;
    overflow: hidden;
    padding: 40px 0;
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-bottom-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-top-width: 1px;
}
.lefths{
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: min-content;
}
.logo{
    aspect-ratio: 1 / 1;
    flex: none;
    height: var(auto, 44px);
    overflow: visible;
    position: relative;
    width: 44px;
}
.logo-w img{
        display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover;
}
.ijbhd{
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --framer-link-text-decoration: underline;
    transform: none;
    opacity: 1;
    flex: none;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;
}
.ijbhd p{
        /* --font-selector: RlM7U3BhY2UgR3JvdGVzay1ib2xk; */
    font-family: "Space Grotesk", "Space Grotesk Placeholder", sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 1.4em;
    color: rgb(255, 255, 255);
}
.ceuin{
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: rgba(255, 255, 255, 0.5);
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    transform: none;
    opacity: 1;
        flex: none;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;
}
.ceuin p{
    letter-spacing: 0px;
    line-height: 1.4em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}
.righths{
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: min-content;
}
.ridst{
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 24px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: min-content;
}
.ridst li{
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    flex: none;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;
}
.ridst li a{
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 1.4em;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.ridst li a:hover{
    color: #ff0000;
}
.down-footer-section{
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: space-between;
    max-width: 1000px;
    overflow: hidden;
    padding: 32px 0;
    position: relative;
    width: 100%;
}
.tyler-rights{
        outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: rgba(255, 255, 255, 0.5);
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    transform: none;
}
.tyler-rights p{
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.4em;
    color: rgba(255, 255, 255, 0.5);
}
.socials{
        align-items: center;
    display: flex
;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: min-content; 
}
.social-link{
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: rgba(255, 255, 255, 0.5);
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    transform: none;
}
.social-link a{
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.4em;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}


.framer-x252hp{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 44px;
    cursor: pointer;
    width: 44px;
}
.framer-x252hp > div{
    height: 2px;
    width: 20px;
}
.framer-x252hpY{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    height: 44px;
    cursor: pointer;
    width: 44px;
}
.framer-x252hpY > div{
    height: 2px;
    width: 20px;
}









/* faq */
.section-7-background{
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 60px;
    position: relative;
    width: 100%;
}
.section-7-container{
    align-items: flex-start;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    height: min-content;
    justify-content: center;
    max-width: 1000px;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}
.faq-title{
    /* background-color: red; */
    width: 100%;
    padding: 16px 0;
}
.faq-contents{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: min-content;
    width: 100%;
    flex: none;
}
.line{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
}
.jkg{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}
.question p{
    color: white;
    height: 100%;
    padding-bottom: 6px;
}
.answer{
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5;
}

.answer{
    display: none;
}
.line:focus-within .answer{
    display: block;
}




/* test */
details{
    /* background-color: red; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding: 28px 0;
}
summary {
    cursor: pointer;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    font-size: 16px;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

details[open] summary {
    transition: all ease 300ms;
    color: #ffffff; /* Optional: change style when open */
}

details p {
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5;
    margin-top: 16px
}
/* 1. Remove the marker in Chromium, Safari, Edge (WebKit/Blink) */
details summary::-webkit-details-marker {
  display: none;          /* hides the default triangle */
}

/* 2. Remove the marker in Firefox */
details summary::marker {
  content: "";            /* override the built‑in glyph */
}

/* 3. Optional tidy‑up */
details > summary {
  list-style: none;       /* stops fallback bullets in very old browsers */
  cursor: pointer;        /* keeps the clickable affordance */
  /* add your own icon… */
  /* background: url("my‑icon.svg") no-repeat 0 50%; */
  /* padding-left: 1.2rem; */
}


